# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [19]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [45]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')

### Step 4. How many products cost more than $10.00?

In [46]:
chipo['item_price_numeric'] = chipo['item_price'].str.replace('$','').astype(float)
print(chipo[chipo['item_price_numeric'] >= 10])

Original item_price column:
0     $2.39
1     $3.39
2     $3.39
3     $2.39
4    $16.98
Name: item_price, dtype: object
Data type: object

After creating new column:
Original item_price (unchanged): ['$2.39 ', '$3.39 ', '$3.39 ', '$2.39 ', '$16.98 ']
New numeric column: [2.39, 3.39, 3.39, 2.39, 16.98]
Number of products over $10: 1130

Comparison of original vs numeric prices:
                               item_name item_price  item_price_numeric
0           Chips and Fresh Tomato Salsa     $2.39                 2.39
1                                   Izze     $3.39                 3.39
2                       Nantucket Nectar     $3.39                 3.39
3  Chips and Tomatillo-Green Chili Salsa     $2.39                 2.39
4                           Chicken Bowl    $16.98                16.98

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [56]:
chipo[['item_name','item_price']]

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [61]:
chipo.item_name.sort_values(ascending=True)

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

### Step 7. What was the quantity of the most expensive item ordered?

In [69]:
chipo.sort_values(by='item_price_numeric').head(1)

,order_id,quantity,item_name,choice_description,item_price,item_price_numeric
34,17,1,Bottled Water,NaN,$1.09,1.09

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [70]:
len(chipo[chipo['item_name'] == 'Veggie Salad Bowl'])

18

### Step 9. How many times did someone order more than one Canned Soda?